.grid{
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  margin: 0 12px;
}

.contract{
  height: 200px;
  position: relative;
}

i{
  margin: 0 5px;
  padding: 0;
}

.add_{
  height: 200px;
}

.editor{
  position: absolute;
  bottom: 0;
  padding-bottom: 5px;
}


