<mat-toolbar>
  <span class="total"></span>
</mat-toolbar>
<div class="grid">
  <mat-card class="add_">
    <form>

      <mat-form-field>
        <input matInput placeholder="name" [(ngModel)]="name" name="name" type="text" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="price" [(ngModel)]="price" name="price" type="number" required>
      </mat-form-field>
    </form>
    <mat-card-actions>
      <button mat-button type="submit" class="add_buttom" (click)="addSubscription(name, price)">作成</button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngFor="let subscription of subscriptions; let i=index" class="contract">
    <ng-container *ngIf="!subscription.isEdit">
      <mat-card-title class="contract-name">{{subscription.name }}</mat-card-title>
    </ng-container>
    <ng-container *ngIf="subscription.isEdit">
      <input class="contract-input-name" matInput placeholder="name" [(ngModel)]="subscription.name" name="edit_name"
        type="text" required size=24>
    </ng-container>

    <mat-card-content>
      <ng-container *ngIf="!subscription.isEdit">
        <p class="contract-price">¥{{subscription.price}}</p>
      </ng-container>
      <ng-container *ngIf="subscription.isEdit">
        <input matInput placeholder="price" [(ngModel)]="subscription.price" name="edit_price" type="text" required
          class="contract-input-price" size=24>


        <div class="editor">
          <button class="btn btn-success" mat-button (click)="saveEditSubscription(i, subscription.key)">保存</button>
          <button class="btn btn-warning" mat-button (click)="toggleEditSubscription(i)">キャンセル</button>
        </div>
      </ng-container>


      <ng-container *ngIf="!subscription.isEdit">
        <div class="editor">
          <i class=" fa fa-edit fa-1.8x" title="編集" (click)="toggleEditSubscription(i)"></i>
          <i class="fa fa-trash fa-1.8x" title="削除" (click)="deleteItem(subscription.key)"></i>
        </div>
      </ng-container>

    </mat-card-content>
  </mat-card>
</div>
