.grid{
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  margin: 0 12px;
}

.contract{
  height: 200px;
  position: relative;
}

i{
  margin: 0 5px;
  padding: 0;
}

.add_{
  height: 200px;
}

.editor {
  position: absolute;
  bottom: 0;
  padding-bottom: 5px;
}

.contract-price{
  font-size: 24px;
  height: 30px;
  line-height: 30px;

}
.contract-input-name{
  font-size: 24px;
  margin-bottom: 20px;
  color: rgba(black,0.6);
  height: 30px;
  line-height: 30px;

}
.contract-name{
  margin-bottom: 20px;
  font-size: 24px;
  height: 30px;
  line-height: 30px;


}

.contract-input-price{
  font-size: 24px;
  color: rgba(black,0.6);
  height: 30px;
  line-height: 30px;
}

